.row {
	margin-bottom: 0px;
	/* float: left; */
}

.item {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	background-color: #f0f0f0;
	border-radius: 10px;
	cursor: pointer;
	font-family: sans-serif;
	transition: 0.2s ease;
	width: 50px;
}

/* 移动端样式（屏幕宽度 <= 768px） */
@media screen and (max-width: 768px) {
	.item {
		width: 80px;         /* 放大宽度 */
		padding: 15px;       /* 增大内边距 */
		font-size: 18px;     /* 放大字体 */
	}

	.grid {
		height: auto;        /* 让内容自适应高度 */
		padding: 10px;
	}
}

/* .item:hover {
	background-color: #2797ff;
	color: white;
} */

.selected {
	background-color: #2797ff;
	color: white;
	font-weight: bold;
	box-shadow: 0 0 5px #2797ff;
}

.grid {
	margin: 10px 0px 0px 5px;
  clear: both;
  border: 1px solid #ddd;
  padding: 5px;
  height: 100px;
	max-width: max-content;
}