.row {
	margin-bottom: 0px;
	/* float: left; */
}

.item {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	background-color: #f0f0f0;
	border-radius: 10px;
	cursor: pointer;
	font-family: sans-serif;
	transition: 0.2s ease;
	width: 50px;
}

/* .item:hover {
	background-color: #2797ff;
	color: white;
} */

.selected {
	background-color: #2797ff;
	color: white;
	font-weight: bold;
	box-shadow: 0 0 5px #2797ff;
}

.grid {
	position: absolute;
	margin: -215px 0px 0px 440px;
	border: 1px solid #ddd;
	padding: 5px;
	height: 100px;
	max-width: max-content;
}