table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #131313 !important;
}
th{
	/* background-color:#ddeeff !important; */
	background-color:#ffeebe !important;
}
th, td{
	width: auto;
	/* border: 1px solid bisque; */
	border: 1px solid #c6c6c6;
	padding: 5px 9px 5px 9px;
	text-align: center;
}
/* tr:hover {
	background: #dddddd;
} */
#showtimer2 {
	border: 1px solid #c6c6c6;
	background-color: #ffeebe;
	line-height: 24px;
	text-align: center;
	font-weight: bolder;
	padding: 5px 0;
}